<nav>
    <div>
        <a href=""><img class="logo" src="/public/images/logo.svg" alt=""> <span>Time it</span>
        </a>
    </div>
    <div>
        <a href="/timesheet">Timesheet</a>
    </div>

    <div><a href="/todolist"> Home </a></div>
</nav>