<%- include ('./partials/header') %>
    <%- include ('./partials/navbar') %>
        <h1>
            Weekly time sheet
        </h1>
        <p>
            Week starting
        </p>
        <div class="container">

            <div class="timesheet-header" style="display: flex">
                <div class="column" style="background-color: red; width: 30px;">
                    Sunday
                </div>
                <div class="column" style="background-color: red; width: 30px;">
                    Monday
                </div>
                <div class="column" style="background-color: red; width: 30px;">
                    Tuesday
                </div>
                <div class="column" style="background-color: red; width: 30px;">
                    Wednesday
                </div>
                <div class="column" style="background-color: red; width: 30px;">
                    Thursday
                </div>
                <div class="column" style="background-color: red; width: 30px;">
                    Friday
                </div>
                <div class="column" style="background-color: red; width: 30px;">
                    Saturday
                </div>

            </div>
        </div>
        <div class="container">
            <div class="timesheet-body">

            </div>
        </div>


        <%- include ('./partials/footer') %>