// Presets
$medium_glass: rgba(255, 255, 255, 0.5);
$light_glass: rgba(255, 255, 255, 0.2);
$shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
$normal: 2px solid rgba(255, 255, 255, 0.3);
$complete: 2px solid rgb(255, 145, 251);

// General
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html,
body {
    overscroll-behavior: none;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

// Navbar
nav {
    display: flex;
    height: 48px;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgb(12, 12, 12), rgb(27, 27, 27));
    box-shadow: $shadow;

    p {
        font-size: 24px;
        color: white;
    }
}

// Background
body {
    background-image: url('/public/images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

// Main To Do - Container
.form-container {
    border-radius: 25px;
    background-color: $medium_glass;
    padding: 10px 10px 10px 25px;
    box-shadow: $shadow;
    width: 605px;
    margin: 0 auto;
}

.input-form {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

// Main To Do - Inputs
%inputs {
    font-weight: lighter;
    background: 0;
    outline: 0;
    border: 0;
    padding: 0 1%;
    line-height: 24px;
}

.reference-input {
    @extend %inputs;
    width: 20%;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 24px;
}

.task-input {
    @extend %inputs;
    width: 66%;
    font-size: 24px;
}

// Edit form
.edit-reference-input {
    font-weight: lighter;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    width: 71px;
    text-align: center;
    height: 20px;
    font-weight: lighter;
    font-size: 16px;
    outline: 0;
    border: $normal;
    margin-top: 1px;
}

.edit-task-input {
    font-weight: lighter;
    font-size: 16px;
    background: none;
    border: none;
    outline: 0;
}

.editForm {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 15px;
    border-radius: 25px;
    width: 100%;
}
.form-button-container {
    display: flex;
    float: right;
    width: 84%;
}
.form-line-item-container {
    display: flex;
    justify-content: flex-start;
    padding: 0 15px;
    border-radius: 25px;
    background-color: $medium_glass;
    border: $normal;
    width: 371px;
}

// BUTTONS
// Adding To Do Items
.clear-button,
.add-button {
    color: white;
    background-color: transparent;
    cursor: pointer;
    padding: 2px;
    transition: all ease;
    border: 0;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, .6));
}

// Specific To Do item - Container
.button-container {
    margin-left: auto;
}

// Specific To Do item - General actions
.edit-button,
.delete-button,
.timer-button,
.completed-button,
.incompleted-button,
.reset-button {
    color: white;
    background-color: transparent;
    cursor: pointer;
    transition: 0.5s;
    border: 0;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, .6));
}
.edit-button:hover,
.delete-button:hover,
.timer-button:hover,
.reset-button:hover {
    transform: translateY(-0.25em);
}

.active {
    animation: bounce 1s infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(0em)
    }
    50% {
        transform: translateY(-0.25em);
    }

    100% {
        transform: translateY(0em);
    }
}

// Specific To Do item - Edit actions
.confirmEditButton,
.cancelButton {
    color: white;
    background-color: transparent;
    cursor: pointer;
    transition: all ease;
    border: 0;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, .6));
}

.confirmEditButton {
    margin-left: 10px;
    margin-right: 8px;
}

.edit-button,
.timer-button {
    margin-right: 10px;
}

.timer-button {
    margin-left: 10px;
}

// Inactive buttons
.inactive {
    color: $medium_glass;
    background-color: transparent;
    border: 0;
    cursor: auto;
    pointer-events: none;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, .6));
}

// Reset all button
.reset-all {
    display: flex;
    justify-content: center;
}
// TO DO ITEMS - General
.items-container {
    width: 605px;
    margin: 0 auto;
    padding: 15px;
    background-color: $medium_glass;
    box-shadow: $shadow;
    border-radius: 10px;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

li {
    display: flex;
    font-weight: lighter;
    font-size: 16px;
    align-items: center;
}

.line-item-container {
    display: flex;
    justify-content: flex-start;
    padding: 0 15px;
    border-radius: 25px;
    background-color: $medium_glass;
    border: $normal;
    width: 390px;
    margin-right: 10px;
}

// COMPLETE TASKS
// Complete - Container only
.complete {
    background-color: rgba(110, 110, 110, 0.5);
}

// Complete - items and ref
.ref-complete {
    font-weight: lighter;
    text-decoration: line-through;
    border-radius: 30px;
    width: 75px;
    text-align: center;
    margin: 0 15px;
    height: 20px;
    background-color: rgba(110, 110, 110, 0.5);
    color: rgb(90, 88, 88);
    line-height: 16px;
    border: $normal;
    cursor: default;
}

.item-complete {
    text-decoration: line-through;
    color: rgb(90, 88, 88);
}

.duration {
    font-weight: lighter;
    color: white;
    cursor: default;
    margin-left: auto;
}

// INCOMPLETE TASKS
.ref-incomplete {
    font-weight: lighter;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    width: 75px;
    text-align: center;
    margin: 0 15px;
    height: 20px;
    line-height: 16px;
    border: $normal;
    cursor: default;
}

.item-incomplete {
    margin-left: -1px;
    cursor: default;
}
