* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html,
body {
  overscroll-behavior: none;
}

body {
  background-image: url("/public/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.full-body-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.parent-container {
  margin-top: 1.5rem;
}

.form-container {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 5px;
  padding: 0.5rem 1rem;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reference-input, .task-input {
  width: 5em;
  font-size: 24px;
  font-weight: lighter;
  background: 0;
  outline: 0;
  border: 0;
  padding: 0 1%;
  line-height: 24px;
}

.reference-input {
  width: 20%;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.task-input {
  width: 66%;
}

.reset-button, .add-button {
  color: white;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: all ease;
  transition: all ease;
  border: 0;
  padding: 0 1%;
}

.reset-button {
  border-right: 1px solid rgba(255, 255, 255, 0.9);
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1d1d1d), to(#2e2e2e));
  background-image: linear-gradient(#1d1d1d, #2e2e2e);
}

nav a {
  text-decoration: none;
  margin: 15px;
  color: white;
  font-weight: bold;
}

.logo {
  background-color: white;
  padding: 2px;
  height: 28px;
  width: 28px;
  border-radius: 5px;
}

.items-container {
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.line-item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 13px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

li {
  font-weight: lighter;
  font-size: 16px;
}
/*# sourceMappingURL=styles.css.map */