* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html,
body {
  overscroll-behavior: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2em;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 48px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0c0c0c), to(#1b1b1b));
  background-image: linear-gradient(#0c0c0c, #1b1b1b);
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

nav p {
  font-size: 24px;
  color: white;
}

body {
  background-image: url("/public/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.form-container {
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px 10px 10px 25px;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  width: 605px;
  margin: 0 auto;
}

.input-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.reference-input, .task-input {
  font-weight: lighter;
  background: 0;
  outline: 0;
  border: 0;
  padding: 0 1%;
  line-height: 24px;
}

.reference-input {
  width: 20%;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 24px;
}

.task-input {
  width: 66%;
  font-size: 24px;
}

.edit-reference-input {
  font-weight: lighter;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  width: 71px;
  text-align: center;
  height: 20px;
  font-weight: lighter;
  font-size: 16px;
  outline: 0;
  border: 2px solid rgba(255, 255, 255, 0.3);
  margin-top: 1px;
}

.edit-task-input {
  font-weight: lighter;
  font-size: 16px;
  background: none;
  border: none;
  outline: 0;
}

.editForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0 15px;
  border-radius: 25px;
  width: 100%;
}

.form-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  width: 84%;
}

.form-line-item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0 15px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.3);
  width: 371px;
}

.clear-button,
.add-button {
  color: white;
  background-color: transparent;
  cursor: pointer;
  padding: 2px;
  -webkit-transition: all ease;
  transition: all ease;
  border: 0;
  -webkit-filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.6));
          filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.6));
}

.button-container {
  margin-left: auto;
}

.edit-button,
.delete-button,
.timer-button,
.completed-button,
.incompleted-button,
.reset-button {
  color: white;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 0;
  -webkit-filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.6));
          filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.6));
}

.edit-button:hover,
.delete-button:hover,
.timer-button:hover,
.reset-button:hover {
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
}

.active {
  -webkit-animation: bounce 1s infinite;
          animation: bounce 1s infinite;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0em);
            transform: translateY(0em);
  }
  50% {
    -webkit-transform: translateY(-0.25em);
            transform: translateY(-0.25em);
  }
  100% {
    -webkit-transform: translateY(0em);
            transform: translateY(0em);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0em);
            transform: translateY(0em);
  }
  50% {
    -webkit-transform: translateY(-0.25em);
            transform: translateY(-0.25em);
  }
  100% {
    -webkit-transform: translateY(0em);
            transform: translateY(0em);
  }
}

.confirmEditButton,
.cancelButton {
  color: white;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: all ease;
  transition: all ease;
  border: 0;
  -webkit-filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.6));
          filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.6));
}

.confirmEditButton {
  margin-left: 10px;
  margin-right: 8px;
}

.edit-button,
.timer-button {
  margin-right: 10px;
}

.timer-button {
  margin-left: 10px;
}

.inactive {
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border: 0;
  cursor: auto;
  pointer-events: none;
  -webkit-filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.6));
          filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.6));
}

.reset-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.items-container {
  width: 605px;
  margin: 0 auto;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: lighter;
  font-size: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.line-item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0 15px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.3);
  width: 390px;
  margin-right: 10px;
}

.complete {
  background-color: rgba(110, 110, 110, 0.5);
}

.ref-complete {
  font-weight: lighter;
  text-decoration: line-through;
  border-radius: 30px;
  width: 75px;
  text-align: center;
  margin: 0 15px;
  height: 20px;
  background-color: rgba(110, 110, 110, 0.5);
  color: #5a5858;
  line-height: 16px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  cursor: default;
}

.item-complete {
  text-decoration: line-through;
  color: #5a5858;
}

.duration {
  font-weight: lighter;
  color: white;
  cursor: default;
  margin-left: auto;
}

.ref-incomplete {
  font-weight: lighter;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  width: 75px;
  text-align: center;
  margin: 0 15px;
  height: 20px;
  line-height: 16px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  cursor: default;
}

.item-incomplete {
  margin-left: -1px;
  cursor: default;
}
/*# sourceMappingURL=styles.css.map */